@typeparam TItem
@attribute [CascadingTypeParameter(nameof(TItem))]
<h3>Grid</h3>


@if (Items == null)
{
   <UILoading LoadingText="Loading"></UILoading>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @Columns(default(TItem))
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <CascadingValue Value="item">
                        @Columns(item)
                    </CascadingValue>
                
                </tr>
                
            }
        </tbody>
    </table>

    <Pagination></Pagination>
}


@code {

    //https://www.youtube.com/watch?v=a1xmY623v2I
   
}
