<nav aria-label="Page navigation in a Grid">
  <ul class="pagination pagination-sm">

    <li class="page-item">
      <a class="page-link" href="#" aria-label="First" title="Go to the first page">
        <span aria-hidden="true" ><i class="bi bi-skip-start-fill"></i></span>
        <span class="sr-only">First</span>
      </a>
    </li>


    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous" title="Go to the previous page">
        <span aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    


    <li class="page-item">
        <div class="input-group input-group-sm">
          <label class="col-form-label col-form-label-sm">Page</label>
          <input type="text" class="form-control rounded-left" aria-label="Text input with dropdown button">
          <label class="col-form-label col-form-label-sm">of [pages]</label>

        </div>
    </li>



    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next"  title="Go to the next page">
        <span aria-hidden="true"><i class="bi bi-caret-right-fill"></i></span>
        <span class="sr-only">Next</span>
      </a>
    </li>


    <li class="page-item">
      <a class="page-link" href="#" aria-label="Last"  title="Go to the last page">
        <span aria-hidden="true"><i class="bi bi-skip-end-fill"></i></span>
        <span class="sr-only">Last</span>
      </a>
    </li>


    <li class="page-item">
        <div class="input-group input-group-sm">
          <label class="col-form-label col-form-label-sm">Page Size:</label>
          <input type="text" class="form-control form-control-sm rounded-left" aria-label="Text input with dropdown button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">5</a>
              <a class="dropdown-item" href="#">10</a>
              <a class="dropdown-item" href="#">20</a>
              <a class="dropdown-item" href="#">50</a>

              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">All</a>
            </div>
          </div>
        </div>
    </li>

    

     <li class="page-item ml-auto">
          <label class="col-form-label col-form-label-sm">[start] - [end] of [items] items</label>
         
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Refresh"  title="Refresh the page">
        <span aria-hidden="true"><i class="bi bi-arrow-clockwise"></i></span>
        <span class="sr-only">Refresh</span>
      </a>
    </li>

  </ul>
</nav>